# Node / logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Expo / Metro / builds web
.expo/
.expo-shared/
dist/
web-build/
*.tsbuildinfo

# SO
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Env (não commitar secrets)
.env
.env.*
!.env.example

# EAS / credenciais (NÃO commitar chaves)
.eas/
*.jks
*.keystore
*.p8
*.p12
*.pem
*.key
*.mobileprovision
*.provisionprofile
*.der
credentials.json

# Android (se você fizer prebuild)
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
android/captures/
android/app/google-services.json

# iOS (se você fizer prebuild)
ios/build/
ios/Pods/
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/DerivedData/
ios/GoogleService-Info.plist

# Firebase
.firebase/
.runtimeconfig.json
functions/.runtimeconfig.json
